{% extends "base.html" %}
{% block title %}Registro de Usuario{% endblock %}
{% block content %}
<form method="post" class="bg-white p-4 rounded shadow mt-5">
  {% csrf_token %}
  <h3 class="text-center mb-4 text-dark"><i class="fas fa-user-plus"></i> Crear cuenta</h3>
  <div class="mb-3">
    <label for="id_username" class="form-label">Nombre de Usuario</label>
    <input type="text" name="username" id="id_username" class="form-control" required value="{{ form.username.value|default_if_none:'' }}">
  </div>
  <div class="mb-3">
    <label for="id_email" class="form-label">Correo Electrónico</label>
    <input type="email" name="email" id="id_email" class="form-control" required value="{{ form.email.value|default_if_none:'' }}">
  </div>
  <div class="mb-3">
    <label for="id_password" class="form-label">Contraseña</label>
    <div class="position-relative">
      <input type="password" name="password" id="id_password" class="form-control" required>
    </div>
  </div>
  <div class="d-flex justify-content-between">
    <button type="submit" class="btn btn-primary"><i class="fas fa-user-check"></i> Registrarse</button>
    <a href="{% url 'usuarios:login' %}" class="btn btn-secondary"><i class="fas fa-sign-in-alt"></i> Ya tengo cuenta</a>
  </div>
</form>
{% endblock %}
